@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");
img { max-width: 100%; vertical-align: middle; }

a { text-decoration: none; color: #22D5B6; }

.max { max-width: 1100px; }

.width { width: 88%; margin: auto; }

.center { text-align: center; }

.right { text-align: right; }

.floatright { float: right; }

.border-radius { border-radius: 0.18em; }

.btn, .quicknav a { display: inline-block; margin-bottom: 0.5em; padding: 0.5em 1em; text-decoration: none; text-transform: uppercase; font-family: "Poppins", sans-serif; font-weight: 700; background: #22D5B6; color: white; -webkit-transition: all 120ms ease-in-out; transition: all 120ms ease-in-out; }
.btn:hover, .quicknav a:hover { background: black; }

h1, h2, h3, h4, h5, h6 { text-transform: uppercase; font-family: "Poppins", sans-serif; }

h3, h4, h5, h6 { margin-bottom: 0.5em; }

hr { width: 100%; height: 2px; background: #eee; border: none; }

select { background: #e4e3e3; border: none; border-radius: 0.18em; padding: 0.3em; }

form { max-width: 20em; }
form fieldset { border: none; }
form label { display: inline-block; margin-bottom: 0.4em; }
form input, form textarea { width: 100%; resize: none; vertical-align: top; padding: 0.5em 0.8em; box-sizing: border-box; border-radius: 0.18em; background: #e4e3e3; border: none; margin-bottom: 0.4em; }
form input[type=submit] { cursor: pointer; text-transform: uppercase; font-family: "Poppins", sans-serif; font-weight: 700; color: white; background: #22D5B6; }
form input[type=color] { height: 3em; }

.media-item { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 1em 0; }
@media screen and (max-width: 640px) { .media-item { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }
.media-item .media-cover { -webkit-box-flex: 0; -webkit-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; width: 25%; max-width: 300px; margin-right: 1em; }
@media screen and (max-width: 640px) { .media-item .media-cover { width: 100%; margin-right: 0; margin-bottom: 0.5em; -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; } }
.media-item .media-info { width: 75%; }
@media screen and (max-width: 640px) { .media-item .media-info { width: 100%; } }

.media-category { display: inline-block; background: #333; padding: 0.5em; margin: 0; }

table { width: 100%; }
table th { text-align: left; border-bottom: 1px solid #eee; }
table td, table th { padding: 0.5em; padding-bottom: 0.8em; border-bottom: 1px solid #eee; }
table img { max-width: 5em; }
table .color { padding: 0.5em; border: 1px solid #ccc; border-radius: 0.18em; }
table .editables a { margin: 0.3em; color: black; text-decoration: none; }
table .editables a:hover { color: #22D5B6; }

html, body { font-family: "Open Sans", sans-serif; }

body { padding-bottom: 5em; }

header { padding: 1em 0; text-transform: uppercase; font-family: "Poppins", sans-serif; font-weight: 700; color: #22D5B6; background: #333; }
header a { color: inherit; text-decoration: none; }

.quicknav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; }
.quicknav a { width: 100%; text-align: center; }

/*# sourceMappingURL=main.css.map */